.c-messages-scroll {
    height: 0;
    width: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    background: var(--background-color-1);
    border: solid 1px var(--border-color);
    fill: var(--common-color-0);
    opacity: 0;
    box-shadow: 0 2px 10px var(--neutral-shadow);

    &:hover {
        background: var(--background-color-1);
        fill: var(--common-color-0);
        border-color: var(--common-color-0);
        box-shadow: 0 4px 14px var(--brand-shadow-xs);
    }

    &.visible {
        opacity: 1;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    .arrow-icon {
        transform: rotateZ(90deg) translateX(1px) scale(0.9);
    }
}