.p-settings {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  container: settings / inline-size;

  .settings-header {
    max-width: 860px;
  }

  .settings-content {
    position: relative;
    width: 90%;
    max-width: 860px;
    margin: 0 auto;
    padding: 24px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .settings-preview {
      height: 200px;
      border: solid 1px var(--border-color);
      border-radius: 16px;
      overflow: hidden;

      .c-chat-preview {
        max-width: 560px;
        margin: 0 auto;
      }
    }

    .settings-nav {
      position: absolute;
      top: 24px;
      bottom: 40px;
      left: calc(100% + 32px);
      width: 180px;
    }
  }

  @container settings (max-width: 1320px) {
    .settings-content .settings-nav {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--font-color-primary-0);
  }
}
